/venv/
/.HA_VERSION
/automations.yaml
/configuration.yaml
/groups.yaml
/home-assistant.log
/home-assistant_v2.db
/Pipfile
/Pipfile.lock
/scenes.yaml
/scripts.yaml
/secrets.yaml
/tts/
/deps/
/blueprints/
/.storage/
/.cloud/
/.idea/
